.solid-select-container, .solid-select-container * {
    box-sizing: border-box;
}

.yjc-borough-select-fieldset {
    display: flex;
    padding: 0;
    border: 0 transparent;
    grid-column: 1 / span 12;
    grid-row: 1;
}

@media screen and (min-width: 495px) and (max-width: 767px) {
    .yjc-borough-select-fieldset {
        grid-column: 3 / span 4;
    }
}

@media screen and (min-width: 768px) {
    .yjc-borough-select-fieldset {
        grid-column: 4 / span 3;
    }
}

@media screen and (min-width: 1001px) {
    .yjc-borough-select-fieldset {
        grid-column: 5 / span 4;
    }
}

.yjc-borough-select-label {
    font-family: roc-grotesk, Helvetica, Arial sans-serif;
    padding: 3px 10px;
    line-height: 2.3rem;
}

.yjc-borough-select-control {
    flex-grow: 2;
}

.yjc-borough-select-control.solid-select-container {
    margin: 0;
    color: lightgrey;
}

.yjc-borough-select-control .solid-select-single-value {
    font-family: roc-grotesk, Helvetica, Arial sans-serif;
    line-height: 2;
}

.yjc-borough-select-control .solid-select-control {
    border-radius: var(--form-field-shape-border-top-left-radius) var(--form-field-shape-border-top-right-radius) var(--form-field-shape-border-bottom-right-radius) var(--form-field-shape-border-bottom-left-radius);
    border: var(--form-field-border-thickness) solid var(--tweak-form-block-field-border-color);
    background-color: var(--tweak-form-block-background-color);
    line-height: 1;
}

.yjc-borough-select-control .solid-select-placeholder {
    font-family: roc-grotesk, Helvetica, Arial sans-serif;
    color: var(--tweak-form-block-caption-color);
    line-height: 2;
}

.yjc-borough-select-control .solid-select-list {
    background-color: var(--list-section-simple-card-color);
}

.yjc-borough-select-control .solid-select-option {
    font-family: roc-grotesk, Helvetica, Arial sans-serif;
    color: var(--tweak-form-block-option-color);
}

.yjc-borough-select-control .solid-select-option:hover,
.yjc-borough-select-control .solid-select-option[data-focused=true] {
    background-color: var(--primaryButtonBackgroundColor);
    color: var(--primaryButtonTextColor);
}
